*{
    margin: 0;
    padding: 0;
}

body{
    background-color:gray;
    display:flex;
    flex-direction:column;
    min-height: 100vh;
    font-family: roboto;
}


.container img{
    position: relative;
    top: 20%;
    left: 55%;
}
.backgroundImage{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
     background-image: url("../img/Back2.gif"); 
    
}
#kitty{
    position:absolute;
bottom: 0%;
    right: 60%;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-content: center;
}



button{
    margin: auto;
    box-shadow: 0;
    outline: none;
    padding: 10px;
    background-color: darkorange;
    box-sizing: content-box;
    border:none;
}

#logo{
    margin: auto;
    width: 50%;
    width: 10%;
}

h4{
    color: white;
    text-align: center;
    font-size: 2.6em
}
h2{
    color: white;
    text-align: center;
    font-size: 4em;
}

a{
    font-style: bold;
    text-decoration: none;
    
    color: white;
    font-size: 3em;
}